h1 {
	text-align: center;
}
#score {
	text-align: center;
}
#board {
	margin: 0 auto;
	width: 40vw;
	height: 40vw;
	border: 5px solid black;
}
#board > div {
	padding: 0;
	height: 5%;
	width: 100%
}
#board > div > div {
	display: inline-block;
	float: left;
	height: 100%;
	width: 5%;
}
.snake {
	background-color: black;
}
.tile {
	background-color: white;
}
#ui {
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}
.normie {
	background-color: red;
}
.quake {
	background-color: orange;
}
.nega {
	background-color: green;
}
.negaStyle {
	background-color: red;
	animation: trip 1s infinite;
}
@keyframes trip {
	0% { background-color: red;  }
	50% { background-color: blue; }
	100% { background-color: green; }
}
.turbo {
	background-color: blue;
}
.bonus {
	background-color: yellow;
}
.bonus-points {
	color: red;
	font-weight: bold;
}
.earthquake {
	animation: quake .5s infinite;
}
@keyframes quake {
	0% { transform: translateX(10px) translateY(10px); }
	10% { transform: translateX(-10px) translateY(-10px); }
	20% { transform: translateX(10px) translateY(10px); }
	30% { transform: translateX(-10px) translateY(-10px); }
	40% { transform: translateX(10px) translateY(10px); }
	50% { transform: translateX(-10px) translateY(-10px); }
	60% { transform: translateX(10px) translateY(10px); }
	70% { transform: translateX(-10px) translateY(-10px); }
	80% { transform: translateX(10px) translateY(10px); }
	90% { transform: translateX(-10px) translateY(-10px); }
}